html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    padding-bottom: 5rem;
}

/* Override Bootstrape Css */
.bg-light{
    background-color: #59615b!important;
}

.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #02aadd;
    border-color: #02aadd;
    border-radius: 0px!important;
}

.carousel-indicators li {

    position: relative;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 20px;
    border-top: none;
    border-bottom: none;
    background-color: hsla(0,0%,100%,.5);
}

.nav-select>a:hover{
    background-color: lime;
    border-radius: 3px;
    color: dodgerblue!important;
}
u
/*End*/

.margin-top-20{
    margin-top: 20px;
}

.feature-img{
    min-height: 200px;
}

.footer-bottom{
    padding: 20px;
    margin-top: 20px;
    background-color: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

/* Product CSS */
.product-item{
    background: #dcf4fc;
}
/* End */



/* Category CSS */
.child-rows{
    padding-left: 50px;
    border-left: 1px solid #dfdfdf;
    background: #fff;
}

.child-rows a.list-group-item{
    border-left: 0px!important;
}

.parent-row{
    padding-left: 40px;
    border-left: 1px solid #dfdfdf;
    background: #fff;
}

.parent-row a.list-group-item{
    border-left: 0px!important;
}

/* End */



/* Navbar Home */

.mr-auto, .mx-auto{
    margin-top: 12px;
    margin-bottom: -10px;
}

/* End */